/* line 1, ../../../src/scss/_league_rankings.scss */
.league-rankings-column {
  display: table-cell;
  width: 49%;
  float: right;
  margin-left: 1%;
  background: #ffffff;
  height: 150px;
  border: 1px solid black;
}

/* line 1, ../../../src/scss/_league_schedule.scss */
.league-schedule-column {
  display: table-cell;
  width: 49%;
  float: left;
  margin-right: 1%;
  background: #ffffff;
  height: 150px;
  border: 1px solid black;
}

/* line 4, ../../../src/scss/football.scss */
.football-league-content {
  display: table;
  width: 100%;
}
