/* line 1, ../../../src/scss/league_detail.scss */
.tabs {
  width: 100%;
  display: inline-block;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

/* line 7, ../../../src/scss/league_detail.scss */
.tab-links:after {
  display: block;
  clear: both;
  content: '';
}

/* line 13, ../../../src/scss/league_detail.scss */
.tab-links li {
  float: left;
  width: 50%;
  list-style: none;
}

/* line 19, ../../../src/scss/league_detail.scss */
.tab-links a {
  width: 100%;
  padding: 15px;
  display: inline-block;
  background: #444;
  font-size: 120%;
  color: #666;
  transition: all linear 0.15s;
  text-align: center;
}

/* line 30, ../../../src/scss/league_detail.scss */
.tab-links a:hover {
  color: #fff;
  background-color: #089bd2;
  text-decoration: none;
}

/* line 36, ../../../src/scss/league_detail.scss */
li.active a, li.active a:hover {
  color: #fff;
  background-color: #333333;
}

/* line 41, ../../../src/scss/league_detail.scss */
.tab-content {
  background: #fff;
}

/* line 45, ../../../src/scss/league_detail.scss */
.tab {
  display: none;
}

/* line 49, ../../../src/scss/league_detail.scss */
.tab.active {
  display: block;
}

/* line 53, ../../../src/scss/league_detail.scss */
.standings-table {
  width: 100%;
}

/* line 57, ../../../src/scss/league_detail.scss */
.standings-table-row td {
  padding: 5px;
  border-top: 1px solid #ddd;
}

/* line 62, ../../../src/scss/league_detail.scss */
.standings-table-row th {
  padding: 5px;
  color: #fff;
  background-color: #089bd2;
}

/* line 68, ../../../src/scss/league_detail.scss */
.schedule-table {
  width: 100%;
  border: 1px solid #ddd;
}

/* line 73, ../../../src/scss/league_detail.scss */
.schedule-table-row td, th {
  padding: 5px;
}

/* line 77, ../../../src/scss/league_detail.scss */
.schedule-table-row th {
  color: #fff;
  background-color: #089bd2;
}

/* line 82, ../../../src/scss/league_detail.scss */
.schedule-table-row td {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

/* line 87, ../../../src/scss/league_detail.scss */
.football-error {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
}
